.layout{
    margin-top: 15px;
}
.pad{
    padding: 3px 0px 3px 0px;
}
.element{
    font-size: 1.2em;
    margin: 2px 0px 2px 0px;
    
}
.drop:hover{
    background: #d8d8d8;
}
.drop:focus{
    background: #d8d8d8;
    border: 0px;
}
.element-menu{
    margin: 4px 4px 4px 4px;
    padding: 2px 1px 2px 1px;
    background: #ffffff;
}
.bg-grey{
    background: #f0f0f0;
}
.add-button{
    border: none;
    background: #d4d4d4;
    width: 100%;
    margin: 0;
    padding: 2px 1px 2px 1px;
}
.add-button:hover{
    border: none;
    background: #c4c4c4;
    
}
.punteado {
    border-style: dotted;
    border-width: 2px;
    border-color: #797979;
  }
.contenido{
    margin: 0px 1px 0px 1px;
    min-height: 300px;
}
.btnincidencias{
    margin: 4px 0px 4px 0px;
}
.add-sprint-button{
    border: none;
    background: #d4d4d4;
    margin: 0;
}
.add-sprint-button:hover{
    border: none;
    background: #c4c4c4;
    
}
.incidencia-text{
    font-size: .8em;
    margin: 0;
    margin-top: 7px;
    margin-bottom: 7px;
}
.incidencia-cont{
    background-color: #ffb0b0;
    padding: 0;
    margin: auto;
}
.margin0{
    margin: 0;
    padding: 0;
}
.empty-background{
    background: rgba(255,255,255,0.3);
    border: 0;
}
.limpio{
    text-decoration: none;
    color: black;
}