
.proys-cont{
    margin-top: 20px;
    margin-left: -30px;
}
.proy{
    background-color: white;
    border-radius: 5px;
    opacity: .75;
    margin-left: px;
    margin-right: 10px;
}

.img-psrc{
    padding: 0;
    max-width: 100%;
}
.img-act{
    padding: 0;
    max-width: 100%;
}
.tittle-p{
    padding: 0;
    color: #2a2f4f;
    font-size: 17px;
    margin-bottom: 4px;
}

.tittle-seccion{
    padding-right: 25px; /* Ajusta el valor según el espacio deseado a la derecha */
    padding-left: 10px;
    padding: 0;
    color: white;
    font-size: 19px;
    margin-top: 20px;
}
.subtittle-p{
    padding: 0;
    color: #2a2f4f;
    font-size: 14px;
    margin-bottom: 4px;
}
.empty{
    text-decoration: none;
}
.text-p{
    padding: 0;
    color: #2a2f4f;
    font-size: 10px;
    margin-bottom: 4px;
}
.left{
    text-align: left;
}
.max-hight{
    height: 45px;
}

.container{
    margin: 0px 0px 0px 12px;
    padding: 0;
}